<!DOCTYPE html>
<html lang="en">
<header>
	<meta charset="UTF-8">
	<title>#threetothdome</title>

	<h1> NY ALL DAY, EVERYDAY.</h1>
	<link rel="stylesheet" href="/style.css">
	<link href='http://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>

	<ul>
		<li> <a href="/authors"> Authors</a> </li>
			<li> <a href="/posts"> Posts </a> </li>
				<li> <a href="/tags"> Search by tag</a> </li>
					<li> <a href="/"> Home Page </a> </li>
	</ul>

</header>
<body>
	
	<p> Name: <%=author["username"]%> || Email: <%=author["email"]%> </p>
	<p> Other works written by <%=author["username"]%>: </p>

	<% posts.each do |x| %>
	<ul>
		<li>
			<a href="/posts/<%= x["id"] %>"> "<%= x["title"]%>" 
				<br> 
					<b> Posted on: </b> <%= x["post_date"] %> </a>
		</li>
	</ul>
	<% end %>

</body>
</html>