<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Authors</title>
	<h2> <%= author["username"] %> </h2>
</head>
<body>
	
	<ul>
		<li> Name: <%= author["username"] %> <br>
			Email: <%= author["email"] %> </li>
	</ul>
	
	<h3> Contributions </h3>
	<ul>
     <% posts.each do |post| %>
		<li>
      		<a href="/posts/<%=post["id"] %>"> <%=post["title"] %> </a>
		</li>
      <% end %>
	</ul>


</body>
</html>