<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYK, ALL DAY.</title>
	<h2> Express yo'self!</h2>
	<a href="/"> Home Page </a>

</head>
<body>
	
	<form action="/posts" method="POST">
		<br>
		<input type="text" name="title" placeholder="Title of Post">
		<br>
		<input type="text" name="date" placeholder="XX/XX/XXXX (date)">
		<br>
		<br>
		<textarea name="post" cols="50" rows="5" placeholder="Write here!"></textarea>
		<br>

	<select name="author_id">
    	<% authors.each do |x| %>
        <option value="<%= x["id"] %>"><%= x["title"] %> <%= x["post_date"]%> <%= x["post"] %> <%= x["created_at"] %>
        </option>
      	<% end %>
    </select>	

	
    <button> Post </button>	
	</form>

</body>
</html>